{{#partial "content"}}
<section class="row p-3 d-flex align-items-center h-100">
<div class="col-lg-4 col-sm-12 mx-auto">
    <h5 class="display-6">Animal Sightings</h5>
    <form action="">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" name="" id="" class="form-control">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Location</label>
        <input type="text" name="" id="" class="form-control">
    </div>
    <div class="mb-3 text-center">
        <input type="submit" value="Submit" class="btn btn-wildlife">
    </div>
    </form>
</div> 
</section>
{{/partial}}
{{> layout.hbs}}