{{#partial "content"}}
<section class="row p-3 d-flex align-items-center text-center h-100">
    <div>
        <div class="row mx-auto">
        <div class=" col-md-6 col-lg-2 icon">
            <a href="/new_abundant_animal" class="text-small">
            <img src="/img/add_abundant.png" class="icon-img text-center" alt="">
            New Abundant Animal
            </a>
        </div>
        <div class=" col-md-6 col-lg-2 icon">
            <a href="/new_endangered_animal" class="text-small">
            <img src="/img/add_endangered.png" class="icon-img text-center" alt="">  
            New Endangered Animal
            </a>
        </div>
        <div class=" col-md-6 col-lg-2 icon">
            <a href="/new_sighting" class="text-small">
            <img src="/img/new_sightings.png" class="icon-img text-center"alt="">
            Record Sightings
            </a>
        </div>
        <div class="col-md-6 col-lg-2 icon">
            <a href="/view_animals/Abundant" class="text-small">
            <img src="/img/abundant.png" class="icon-img text-center" alt="">
            Abundant Animals
            </a>
        </div>
        <div class="col-md-6 col-lg-2 icon">
            <a href="/view_animals/endangered" class="text-small">
            <img src="/img/endangered.png" class="icon-img text-center" alt="">
           Endangered Animals
            </a>
        </div>
        <div class="col-md-6 col-lg-2 icon">
            <a href="/view_sightings" class="text-small">
            <img src="/img/sightings.png" class="icon-img text-center" alt="">
            Sightings
            </a>
        </div>
        </div>
    </div>  
</section>
{{/partial}}
{{> layout.hbs}}