{{#partial "content"}}
<section class="row p-3 d-flex align-items-center text-center h-100">
    <div>
        <div class="row mx-auto w-50">
        <div class="col-md-6 col-lg-6 icon">
            <a href="/view_animals?type=abundant" class="text-small">
            <img src="/img/abundant.png" class="icon-img text-center" alt="">
            Abundant Animals
            </a>
        </div>
        <div class="col-md-6 col-lg-6 icon">
            <a href="/view_animals?type=endangered" class="text-small">
            <img src="/img/endangered.png" class="icon-img text-center" alt="">
           Endangered Animals
            </a>
        </div>
        </div>
        <div class="text-center icon">
            <a href="/view_all_sightings" class="icon-img text-center">
                <img src="/img/sightings.png" class="icon-img text-center" alt="">
                All Sightings
            </a>
        </div>

    </div>  
</section>
{{/partial}}
{{> layout.hbs}}