{{#partial "content"}}
<section class="row p-3 d-flex align-items-center text-center h-100">
    <div>
        <div class="row mx-auto w-50">
            <div class="alert alert-warning" role="alert">
                <strong>Success! </strong> Click here to go back <a href="/">home</a>
            </div>
        </div>
    </div>  
</section>
{{/partial}}
{{> layout.hbs}}